{% extends "themes/base_visitor.html.twig" %}

{% block title %}Bienvenue sur EcoRadar{% endblock %}

{% block description %}Trouvez et comparez facilement les labels responsables pour vos achats durables. Découvrez des certifications fiables, engagées pour l’environnement et l’éthique. Explorez maintenant !{% endblock %}

{% block keywords %}labels éthiques, annuaire labels, labels responsables, certifications éthiques, consommation durable, labels écologiques, labels bio, labels équitables, labels environnement, guide labels, achat responsable{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">EcoRadar</h1>
{% endblock %}