{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Les labels{% endblock %}

{% block description %}Découvrez la liste complète des labels éthiques : comparez les certifications, explorez leurs critères et trouvez facilement les labels responsables adaptés à vos valeurs et à vos achats durables{% endblock %}

{% block keywords %}labels éthiques, liste labels, labels responsables, certifications éthiques, comparatif labels, critères labels, labels écologiques, labels bio, labels équitables, labels durables, annuaire labels{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Les Labels éthiques</h1>
{% endblock %}